<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bayong</title>
        <link rel="icon" href="../static/Bayong.ico">
        <link rel="stylesheet" href="../styles/styles.css">
    </head>

    <body>
        <header>
            <div>
                <a href="bayong.html"><img id="title" src="../static/images/bayong-title.png" alt="Bayong Homepage"></a>
            </div>

            <div>
                <label for="search" class="header-buttons-text" id="search-text">Search</label>
                <input type="image"  id="search" class="header-buttons" name="search" src="../static/images/search-button.png" alt="Search for products" onclick="search-ani()">
            </div>

            <div>
                <label for="cart" class="header-buttons-text" id="cart-text">Your Bayong</label>
                <input type="image" id="cart" class="header-buttons" name="cart" src="../static/images/cart.png" alt="Go to cart">
            </div>
        </header>
    </body>